@tailwind base;
@tailwind components;
@tailwind utilities;

.prose-span span:not(.cm-editor span),
br {
  @apply text-[#000] dark:text-[#fff];
}

.prose {
  max-width: 100%;
}

.mdxeditor-select-content {
  @apply max-h-52 bg-popover border-x border-b border-editor border-2 text-popover-foreground shadow-md shadow-inherit;
}

._codeMirrorWrapper_yms4a_391 {
  @apply border-none p-0;
}

._codeMirrorToolbar_yms4a_408 {
  @apply bg-transparent;
}

._toolbarRoot_yms4a_160 {
  @apply rounded-t-md rounded-b-none;
}

._selectTrigger_yms4a_307 {
  @apply dark:bg-editor;
}

._iconButton_yms4a_456 {
  color: white !important;
}
._iconButton_yms4a_456:hover {
  opacity: 0.8;
  transition: all;
}

.mdxeditor .cm-gutters {
  @apply hidden;
}

._codeMirrorWrapper_yms4a_391 .cm-editor {
  @apply px-2 pt-8 pb-4;
}

.cm-sourceView .cm-editor {
  @apply h-72 lg:h-96 pb-10 w-full overflow-auto rounded-bl-md rounded-br-md shadow-md;
}

.cm-matchingBracket {
  background-color: transparent !important;
  outline: none !important;
}

._listItemUnchecked_1tncs_74:before,
._listItemChecked_1tncs_73:before {
  top: 7px !important;
}

button {
  cursor: pointer !important;
}

.scroll-container::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scroll-container::-webkit-scrollbar-thumb {
  @apply rounded-3xl bg-black dark:bg-white/80;
}

.scroll-container::-webkit-scrollbar-track {
  margin: 5px;
}

.scroll-container::-webkit-scrollbar-corner {
  display: none;
}
.scroll-container::-webkit-scrollbar-button {
  display: none;
}

.cm-scroller::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.cm-scroller::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
}
.cm-scroller::-webkit-scrollbar-track {
  margin: 5px;
}

.cm-scroller::-webkit-scrollbar-corner {
  display: none;
}
.cm-scroller::-webkit-scrollbar-button {
  display: none;
}
